.bs-example-modal-lg .landmark-option {
    width: 196px;
    float: left;
    height: 200px;
}

.bs-example-modal-lg .landmark-option .landmark-thumb img {
    border-radius: 5px;
    height: 150px;
    width: 150px;
}

.bs-example-modal-lg .landmark-option .landmark-thumb img:hover {
    cursor: pointer;
}

.bs-example-modal-lg .landmark .landmark-name {

}

.bs-example-modal-lg .landmark-popover-wrapper {
    display: none;
    z-index: 1;
    position: absolute;
    width: 150px;
    height: 150px;
    margin-top: -100px;
}

.bs-example-modal-lg .landmark-popover-wrapper {
    border: 1px solid #686868;
    background-color: #FFF;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bs-example-modal-lg .landmark-popover-content {
    padding: 10px;
}

.bs-example-modal-lg .landmark-thumb img:hover + .landmark-popover-wrapper,
.bs-example-modal-lg .landmark-thumb .landmark-popover-wrapper:hover {
    display: block;
}

/* Arrival Modal */
.right-side {
  width: 60%;
  /*float: right;*/
  height: 100%;
  text-align: center;
  margin: 20px auto;
}

.arrival-uber-modal-lg .arrive-title {
  color: red;
  width: 222px;
  font-size: 36px;
  margin: 45px auto;
  text-transform: uppercase;
}

.arrival-uber-modal-lg .arrive-sub-title {
  text-align: center;
  width: 230px;
  margin: 35px auto;
  font-size: 25px;
}

.arrival-uber-modal-lg .arrive-description {
    text-align: left;
}





