html, body {
  height: 100%;
  margin: auto;
  padding: 0px;
  font-family: 'Futura', sans-serif;
  text-align: center;
  color: #848484;
}

.ng-scope {
  height: 100%;
  left: 0;
  width: 100%;
  margin: 0;
}

.main-map {
  height: 100%;
  width: 80%;
  left: 0;
  margin: 0;
  position: absolute;
  display: inline-block;
}

#control-panel {
  height: 100%;
  width: 20%;
  margin: 0;
  background-color: rgba(242,239,218,0.4);
  display: inline-block;
  position: relative;
  float: right;
  box-shadow: -5px 0px 20px -4px #888;
  z-index: 100;
}

.landmark-ordering ul li {
  height: 50px;
  width: 85%;
  background: white;
  border-radius: 4px;
  margin: 10px auto;
}

.list-landmark-thumbnail {
  width: 50px;
  float: left;
  height: 50px;
}

.list-landmark-thumbnail img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-top: 5px;
  margin-left: 5px;
}

.list-landmark-text {
  float: left;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 140px;
  text-align: left;
}

.list-landmark-remove {
  float: right;
  height: 50px;
}

.list-landmark-move {
  float: right;
  height: 50px;
}

button.move-landmark, button.remove-from-tour {
  height: 50px;
  border: 0;
  background: transparent;
}

button.remove-from-tour {
  padding-right: 0;
}

.landmark-ordering ul li.selected {
  color: green;
}

.main-button {
  background: orange;
  position: fixed;
  bottom: 0;
  width: 20%;
  right: 0;
  height: 60px;
  border: 0;
  font-size: 30px;
  color: white;
  font-family: 'Helvetica Neue';
  font-weight: bold;
  letter-spacing: 3px;
}

.main-button:hover {
  background-color: red;
}

#logo {
  margin-top: 6px;
  width: 60%;
}

.modal-backdrop.in {
  opacity: .2;
}

.modal-dialog {
  /*width: 50%;*/
}

.modal-content {
  height: 600px;
  width: 70%;
  margin-top: 60px;
  border: 0;
  /*background-color: rgba();*/
}
