html, body {
  height: 100%;
  margin: auto;
  padding: 0px;
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
  width: 900px;
}

.header, .footer {
  margin: 50px auto;
}

.header .title {
  font-size: 36px;
  font-weight: bold;
}

.main-map {
  height: 500px;
}

.landmark-feed {
  float: left;
  text-align: left;
}

.landmark-feed li {
  margin: 10px 0;
}
