html, body {
  height: 100%;
  margin: auto;
  padding: 0px;
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
  width: 900px;
}

.header, .footer {
  margin: 50px auto;
}

.header .title {
  font-size: 36px;
  font-weight: bold;
}

.main-map {
  height: 500px;
}

.landmark-choices {
  text-align: left;
}

.landmark-choices li {
  margin: 10px 0;
}

button.confirm {
  padding: 10px;
  background: #2980b9;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0;
}
