<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Info windows</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/modals.css">
  </head>

  <body ng-app="app">
    <div ng-controller="MapCtrl">

      <div class="main-map" id="map-canvas"></div>

      <!-- Control Panel -->
      <div id="control-panel">
        <img src="/static/img/tourlink-logo-01.png" id="logo">
        <button type="button" class="trip-add btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">+ Add to Trip</button>

        <h1>Current Trip:</h1>
        <div class="landmark-ordering">
          <ul>
            <li ng-repeat="qlandmark in queuedLandmarks" ng-class="{ selected: $index == nextDestIdx }">
              <span class="list-landmark-thumbnail">
                <img src="{{ qlandmark.photo }}">
              </span>
              <span class="list-landmark-text">
                {{ qlandmark.name }}
              </span>
              <span class="list-landmark-move">
                <button class="move-landmark"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></button>
              </span>
              <span class="list-landmark-remove">
                <button class="remove-from-tour" ng-click="queueRemove($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              </span>
            </li>
          </ul>
        </div>

        <button type="button" class="main-button" data-toggle="modal" data-target=".initial-uber-modal-lg" ng-click="populateMap()">START</button>
      </div>

      <!-- Add Destination Modal Content -->
      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="landmark-choices">
              <ul>
                <li ng-repeat="landmark in dataPoints.landmarks">
                  <div class="landmark-option">
                    <div class="landmark-thumb">
                      <img ng-src="{{ landmark.photo }}" ng-click="enqueue($index)"/>
                      <div class="landmark-popover-wrapper">
                        <div class="landmark-popover-content">
                          {{ landmark.description }}
                        </div>
                      </div>
                    </div>
                    <div class="landmark-name">
                      {{ landmark.name }}

                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Uber Cost Modal Content -->
      <div class="modal fade uber-cost-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="todays-price">{{ todaysPrice }}</div>
            <p class="price-dialog">Uber is not bad today.</p>
            <button type="button" class="uber-accept btn btn-primary" data-toggle="modal" data-target="">Proceed</button>
          </div>
        </div>
      </div>

      <!-- First Destination Uber Alert Modal Content -->
      <div class="modal fade initial-uber-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <p class="next-dest-text">Uber is on the way to bringing you to your next destination:</p>
            <p class="next-dest-name">{{ queuedLandmarks[0].name }}</p>
          </div>
        </div>
      </div>

      <!-- Arrival Modal Content -->
      <div class="modal fade arrival-uber-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="pretty-image">
              <div class="right-side">
                <h1 class="arrive-title">You have arrived at</h1>
                <h3 class="arrive-sub-title">{{ queuedLandmarks[0].name }}</h3>
                <p class="arrive-description">{{ queuedLandmarks[0].description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- scripts -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-touch.min.js"></script>
    <script type="text/javascript" src="/static/lib/angular/angular-google-maps.min.js"></script>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyD_DEud0IbgAZ4M0H7lxQDfYGnw3LrEGzE&libraries=places"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="static/js/scripts.js"></script>
  </body>
</html>
